/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (6.2.1).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package com.github.jacekszymanski.realcamel.api;

import com.github.jacekszymanski.realcamel.model.CreateArticle201Response;
import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import com.github.jacekszymanski.realcamel.model.*;

@Component
public class FavoritesApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {


        /**
        POST /articles/{slug}/favorite : Favorite an article
        **/
        rest()
            .securityDefinitions()
                .apiKey("Token")
                    .withHeader("Token")

            .endSecurityDefinition()
            .post("/articles/{slug}/favorite")
                .description("Favorite an article")
                .id("createArticleFavoriteApi")
                .produces("application/json")
                .outType(CreateArticle201Response.class)
                .param()
                    .name("slug")
                    .type(RestParamType.path)
                    .required(true)
                    .description("Slug of the article that you want to favorite")
                .endParam()
                .to("direct:createArticleFavorite");


        /**
        DELETE /articles/{slug}/favorite : Unfavorite an article
        **/
        rest()
            .securityDefinitions()
                .apiKey("Token")
                    .withHeader("Token")

            .endSecurityDefinition()
            .delete("/articles/{slug}/favorite")
                .description("Unfavorite an article")
                .id("deleteArticleFavoriteApi")
                .produces("application/json")
                .outType(CreateArticle201Response.class)
                .param()
                    .name("slug")
                    .type(RestParamType.path)
                    .required(true)
                    .description("Slug of the article that you want to unfavorite")
                .endParam()
                .to("direct:deleteArticleFavorite");

    }
}
